<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Vue Js - SICAP LCO</title>
    <style>
        /* CSS AQUI */
    </style>
    <script src="./vue.js"></script>

    <!-- PROXIMA = 279. 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
</head>
<body>
    <div id="app">
          <h4>Boas Vindas</h4>
            Nome: <input type="text" id="inputnome"  > <br>
            IDade: <input type="text" id="inputidade" > <br>
            Plano: <input type="text" id="inputplano"  > <br>
          <button @click="adicionarPacientes()">Adicionar</button>
            
            <p v-if="pacientes.length > 0 "> 
                <span>Ultimo Paciente:</span><br> 
                Nome:  {{ pacientes[indexUltimo].nome}} 
                    / {{ pacientes[indexUltimo].idade}} anos 
                    / Plano: {{ pacientes[indexUltimo].plano}} <br>
            </p>
            <p v-if-once="hasOuro"> 
                <hr> Pacientes do Plano Ouro <br>
                <span v-for="p in pacientes "> 
                    {{  p.plano == 'Ouro' ?  p.nome : '' }}  <br>
                </span>
            </p>

          
           
            <h4>Lista de Pacientes</h4>
            <p v-for="p in pacientes"> {{p.nome}}</p>

    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                pacientes: [],
                indexUltimo: 0,
                hasOuro: false
            },
            methods: {
                    adicionarPacientes(){
                        this.pacientes.push(
                            {
                                nome: inputnome.value,
                                idade: inputidade.value,
                                plano: inputplano.value
                            } );
                            if(inputplano.value === 'Ouro'){
                                this.hasOuro  =true;
                            }
                        this.indexUltimo.pacientes.length
                    }
            }
        })

    </script>
</body>
</html>