<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Vue Js - SICAP LCO</title>
    <style>
        /* CSS AQUI */
    </style>
    <script src="./vue.js"></script>

    <!-- PROXIMA = 274. Diretiva V-For - Implementando laços de repetição parte 2
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(variavel, chave) in cursos"> {{ chave }} - {{ variavel }}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="(variavel, chave) in cursos" v-text="chave +'-'+ variavel">  </li>
        </ul>
    </div>

    <script>

        const vm = new Vue({
            el: '#app',
            data: {
                cursos: ['Laravel' , 'Web Completo', 'Banco de dados']

            },
            methods: {

            }
        })

    </script>
</body>
</html>